body{
    background-image: url('img/1.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family:'Comic Sans MS';
    font-size: x-small;
}
.sub{
    height: 50vh;
    width: 60vw;
    background-image: url('img/2.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 25vw;
    margin-top: 25vh;
}
.container{
    height: 55vh;
    width: 100vw;
    display: none;

}
.sub .img1 {
    height: 150px;
    width: 150px;
    margin-top: -1vh;
    float: right;
    margin-right: 4vw;
}
.sub .img2 {   
    height: 200px;
    width: 200px;
    margin-top: 17vh;
    float: left;
}
.sticky {
    position: fixed;
    top:0;
}
.pagination {
    display: inline-block;
    margin-left: 42vw;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  @media (max-width: 950px) {

    .sub .img1 {   margin-right: -5vw;}
    .sub .img2 {margin-left: -15vw; margin-top: 15vh;}
    body{
        font-size: 7px; 
    }
}
@media (max-width: 650px) {

    .sub .img1 {   margin-right: -15vw;}
    .sub .img2 {margin-left: -15vw; margin-top: 15vh;}
    body{
        font-size: 7px; 
    }
}
  @media (max-width: 500px) {
    .pagination{
        display: none;
    }
    .sub .img1 {   margin-right: -19vw;}
    .sub .img2 {margin-left: -40vw;margin-top: 0;}
    body{
        font-size: 7px;
        width: 100vw;
    background-size: cover;

    }
}
